@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

/* .main-index{
    
} */

.infoContainer{
    margin: 56px auto;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.dev-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 2em 0 2em;
}

.hello{
    font-size: 80px;
}
.name{
    font-size: 60px;
    font-weight: bold;
}
.about{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.moreabout{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.buttons{
    margin-top: 40px;
}
.buttons button{
    border-radius: 16px;
    padding: 6px 14px;
    margin-right: 15px;
    color: white;
    background-color: dodgerblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttons button:hover{
    color: dodgerblue;
    background-color: white;
}

.dev-pic img{
    height: 60vh;
}
@media (max-width: 1330px) {
    .dev-pic{
        display: none;
    }   
    .infoContainer{
        margin: 150px auto;
    }
} 
@media (max-width: 890px) {
    .dev-info{
        margin-left: 4em;
    }
} 
@media (max-width: 650px) {
    .dev-info{
        margin-left: 2em;
    }
    .hello{
        font-size: 40px;
    }
    .name{
        font-size: 28px;
    }
    .about{
        font-size: 25px;
    }
    .moreabout{
        font-size: 18px;
    }
    .buttons button{
        border-radius: 16px;
        padding: 6px 14px;
        margin-right: 15px;
        color: white;
        background-color: dodgerblue;
        font-size: 12px;
    }
}