@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    transition: all ease-out 300ms;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
.container{
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after{
    content: ' ';
    display: block;
    clear: both;
}

/* column system
================= */
[class^=col-] {
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0em;
}

.col-1{
    width: 33.33%;
    float: left;
}
@media (min-width: 60rem) {
    [class^=col-] {
        float: left;
        padding: 0 1em;
        margin-top: 0em;
    }

    [class^=col-]:first-child {
        padding-left: 0em;
    }

    [class^=col-]:last-child {
        padding-right: 0em;
    }

    .col-3{
        width: 50%;
    }

    .col-1{
        width: 16.66666%;
    }
}

/* typography
================= */

h1{
    font-weight: 300;
    font-size: 1.5em;
}
p{
    margin-top: 0em;
    line-height: 1.2;
}
p:last-of-type{
    margin-bottom: 0em;
} 
.title{
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1em 0 2em 0;
}
.title span{
    font-weight: 300;
    display: block;
    font-size: 0.9em;
}
.title-cta{
    margin: 0.2em 0 0.5em 0;
}
.unstyled-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
@media (min-width:60rem) {
    p{
        font-size: 1.2em;
    }
    .title{
        font-size: 3.5em;
    }
}
/* buttons
================= */

.button{
    display: inline-block;
    text-decoration: none;
    font-size: 1.15rem;
    text-transform: uppercase;
    border: 2px solid;
    padding: 0.5em 1.75em;
}
.button-accent{
    color: rgb(34, 244, 44);
    border-color: rgb(34, 244, 44);
}

.button-accent:hover,
.button-accent:focus {
    color: black;
    background-color: rgb(34, 244, 44, 0.5);
    font-weight: 600;
}
.button-dark{
    color: #232323;
    border-color: #232323;
}
.button-dark:hover,
.button-dark:focus {
    color: #00ff6c;
    background-color: #232323;
}
@media (min-width:60rem) {
    .button{
        font-size: 1.5rem;
    }
}
.button-small{
    font-size: 0.7rem;
    font-weight: 700;
}
@media (max-width:18.75rem) {
    .button-small{
        font-size: 0.5rem;
    }
}

/* header
================= */

header{
    position: absolute; 
    left: 0;
    right: 0;
    margin: 1em;
}
.logo{
    background-image: linear-gradient(236deg, #EADEDB -7%, #000000 40%, #5d7e5d 75%);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 600;
    margin: 0px;
    padding: 0.1em 0.4em;
    border-radius: 1em;
}
@media (min-width:60rem) {
    .logo{
        font-size: 2.5em;
        padding: 0.1em 0.4em;
        border-radius: 1em;
    }
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 1em;
}
nav a{
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: #FFF;
}
nav a:hover,nav a:focus{
    color: #DDD;

}


@media (min-width:60rem) {
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
}
/* home-hero
================= */

.home-hero{
    background-image: url(../img/hero-bg1.jfif);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #FFF;
}


@media (min-width:60rem) {
    .home-hero{
        height: 100vh;
        padding-top: 25vh;
    }
}

/* home-about
================= */

.home-about-textbox{
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left:-2.5%;
    outline: rgb(34, 244, 44) 2px solid;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}

.home-about-textbox h1{
    position: absolute;
    top: 0.28em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #232323;
    padding: 0 0.25em;
    color: #00ff6c;
}

@media (max-width:21.25rem) {
    h1{
        font-size: 1.2em;
    }
    .home-about-textbox h1{
        top: 0.6em;
        padding: 0 0.2em;
    }

    .home-about-textbox p{
        font-size: 0.8em;
    }
}

@media (min-width:60rem) {
    h1{
        font-size: 1.8em;
    }
    .home-about{
        background-image: url(../img/who-we-are.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20em;
    }
    .home-about-textbox{
        padding: 6em;
        outline-offset: -3.5em;
        width: 40%;
        top: -5em;
        margin-left:-2.5%;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
    }
    .home-about-textbox h1{
        top: 1.01em;
        font-size: 1.44em;
        left: 6.6rem;
        transform: translateX(0);
    }
}

/* portfolio
================= */

.portfolio{
    margin: 3em 0 0 0;
}
.port-item{
    margin: 0;
    position: relative;
}
.port-item img{
    display: block; /* Images are by default inline-block so they leave some space underneath them for decendent texts. */
    /*Instead of doing display = block to img, we can directly use line-height = 0% for .port-item, which will do the same job.*/
}
.port-desc{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1em; 
}
.port-desc p{
    margin-bottom: 0.4em;
}

@media (min-width: 33rem) {
    .port-item{
        width: 50%;
        float: left;
    }
    .port-desc a{
        font-size: 0.5em;
    }
}

@media (min-width:60rem) {
    .port-item{
        width: 33.333333333%;
        overflow: hidden;
    }
    .port-desc{
        transform: translateY(150%);
        /*Transition for this is written in all selector bcz i wanted to keep same trnasition for all the components in page.*/
    }
    .port-item:hover .port-desc{
        transform: translateY(0%);
    }

    .port-desc a{
        font-size: 0.7rem;
    }
}

/* CTA
================= */

.cta{
    padding: 5em 0;
    background-color: #00ff6c;
}

/* Footer
================= */

footer{
    color: #FFF;
    background-color: #232323;
    text-align: left;
    padding: 5em 0;
}




