@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.main-intro{
    font-family: 'Poppins', sans-serif;
}

.introContainer{
    margin: 80px 0 0 42px;
}
.introContainer h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 16px;
}

.introContainer h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 16px;
}

.introContainer p{
    font-family: 'Fira Sans', sans-serif;
    margin-left: 16px;
}

.skillContainer{
    margin-left: 20px;
    margin-right: 5em;
}

.skillItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.range{
    width: 80%;
    height: 10px;
    background-color: rgb(226 226 226);
    border: 1px black solid;
    border-radius: 3px;
}

.skill{
    height: 10px;
    background-color: rgb(141 75 255);
}

@media (max-width: 890px) {
    .skillItem{
        width: auto;
        position: relative;
    }
    .range{
        position: absolute;
        left: 6.5em;
    }
    .introContainer{
            margin: 80px 0 0 10px;
    }
    
}
