
.portfolio{
    margin: 3em 0 0 0;
}
.port-item{
    margin: 0;
    position: relative;
}
.port-item img{
    display: block; /* Images are by default inline-block so they leave some space underneath them for decendent texts. */
    /*Instead of doing display = block to img, we can directly use line-height = 0% for .port-item, which will do the same job.*/
}
.port-desc{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1em; 
}
.port-desc p{
    margin-bottom: 0.4em;
}

@media (min-width: 33rem) {
    .port-item{
        width: 50%;
        float: left;
    }
    .port-desc a{
        font-size: 0.5em;
    }
}

@media (min-width:60rem) {
    .port-item{
        width: 33.333333333%;
        overflow: hidden;
    }
    .port-desc{
        transform: translateY(150%);
        /*Transition for this is written in all selector bcz i wanted to keep same trnasition for all the components in page.*/
    }
    .port-item:hover .port-desc{
        transform: translateY(0%);
    }

    .port-desc a{
        font-size: 0.7rem;
    }
}
