.home-hero{
    background-image: url(../../assets/hero-bg1.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #FFF;
}


@media (min-width:60rem) {
    .home-hero{
        height: 100vh;
        padding-top: 25vh;
    }
}
