
.home-about-textbox{
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left:-2.5%;
    outline: rgb(34, 244, 44) 2px solid;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}

.home-about-textbox h1{
    position: absolute;
    top: 0.28em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #232323;
    padding: 0 0.25em;
    color: #00ff6c;
}

@media (max-width:21.25rem) {
    h1{
        font-size: 1.2em;
    }
    .home-about-textbox h1{
        top: 0.6em;
        padding: 0 0.2em;
    }

    .home-about-textbox p{
        font-size: 0.8em;
    }
}

@media (min-width:60rem) {
    h1{
        font-size: 1.8em;
    }
    .home-about{
        background-image: url(../../assets/who-we-are.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20em;
    }
    .home-about-textbox{
        padding: 6em;
        outline-offset: -3.5em;
        width: 40%;
        top: -5em;
        margin-left:-2.5%;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
    }
    .home-about-textbox h1{
        top: 1.01em;
        font-size: 1.44em;
        left: 6.6rem;
        transform: translateX(0);
    }
}
