@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

.main-blog{
    overflow: scroll;
}

.ham{
    /* width: 100vw; */
}

.blogContainer{
    margin: 56px auto;
}
.blogContainer h1{
    font-family: 'Raleway', sans-serif;
    margin: 20px;
}

.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogItem p{
    font-family: 'Raleway', sans-serif;
}

.btn-sm{
    border-radius: 16px;
    padding: 3px 12px;
    color: white;
    background-color: dodgerblue;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

.btn:hover{
    color: dodgerblue;
    background-color: white;
}

@media (max-width: 890px) {   
    .blogContainer{
        margin: 80px 0 0 10px;
    }
} 