@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* .main-contact{
    
} */

.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 100px;
}
.contactform h1{
    font-family: cursive;
    padding: 0 0 30px 50px;
}

.contactform form{
    font-size: 20px;
    padding-left: 50px;
}

.contactform form div{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.contactform form div input{
    width: 400px;
    border-radius: 6px;
    font-size: 16px;
    margin: 5px 0;
    padding-left: 4px;
}
#emailHelp{
    padding: 2px 0px 0px 20px;
    font-size: 12px;
    color: #2929a3;
}
#form-check{
    flex-direction: row;
}

#form-check input{
    width: 12px;
    margin-right: 8px;
}

.btn{
    border-radius: 16px;
    padding: 6px 14px;
    color: white;
    background-color: dodgerblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    color: dodgerblue;
    background-color: white;
}